<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<!-- Bootstrap core CSS -->
	<link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Font Icon Styles -->
	<script src="https://kit.fontawesome.com/fd91f3fcd6.js" crossorigin="anonymous"></script>

	<!-- Style -->
	<link href="" rel="stylesheet">
</head>
<body>
<header>

  <div class="overlay"></div>

  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>

  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Video Header</h1>
        <p class="lead mb-0">Using HTML5 Video and Bootstrap</p>
      </div>
    </div>
  </div>
  
</header>


	{{{body}}}


	<footer></footer>

<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>