@font-face {
	font-family: "Ghoulish";
	src: url("../assets/fonts/Ghoulish/GhoulFriAOE.ttf") format("truetype") }

@font-face {
  font-family: "Halloween Morning";
  src: url("../assets/fonts/HalloweenMorning/Halloween\ Morning.ttf") format("truetype") }

@font-face {
  font-family: "Misfits";
  src: url("../assets/fonts/Misfits/MISFITS_.TTF") format("truetype") }

*,
*::before,
*::after {
  box-sizing: border-box; 
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  background-color: #000;
  color: #fff; 
}

header .navbar {
  height: 56px;
}

.spooky-bg {
  background-image:url(../assets/images/spooky-bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.spooky-wallpaper {
  background-image:url(../assets/images/spider.gif), url(../assets/images/spooky-wallpaper.png);
  background-position: right top, center;
  background-repeat: no-repeat, repeat-x;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

/** jumbotron **/
.spooky-jumbotron {
  position: relative;
  background-color: black;
  height: calc(100vh - 56px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.spooky-jumbotron video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.spooky-jumbotron .container {
  position: relative;
  z-index: 2;
}

.spooky-jumbotron .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .spooky-jumbotron {
    background: url('../assets/images/spooky-bg.jpg') black no-repeat center center scroll;
    background-size: cover
  }

  .spooky-jumbotron video {
    display: none;
  }
}

/** inputs **/

#city-input,
#state-input {
  color:#F3EFF5;
  background-color: black;
  border: 1px solid #272727;
}

/** pumpkin button inspired by: https://codepen.io/ShopifyPartners/pen/pEqWNv **/

.pumpkin {
  position: relative;
  display: inline-block;
  width: 120px;
}

.pumpkin-body::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 12px;
  left: 56px;
  top: -18px;
  background-image: linear-gradient( to left top, #1E824C 50%, transparent 50%);
}

.pumpkin-body {
  content: "";
  position: absolute;
  left: 0;
  width: 120px;
  height: 60px;
  background-color: #fac331;
  border-radius: 40px;
  background-image: linear-gradient(to right, #FAC331 50%, #D4692B 50%);
  transition: fill 150ms, box-shadow 250ms ease-in-out;
}

.pumpkin-body:hover {
  box-shadow: 5px 10px 10px 5px rgba(240, 139, 49, 0.55);
  animation: glow 15ms ease-in infinite alternate;
}

.middlepump {
  position: absolute;
  left: 10px;
  width: 100px;
  height: 60px;
  background-color: #fac331;
  border-radius: 40px;
  background-image: linear-gradient(to right, #F9A836 50%, #E0772C 50%);
  transition: fill 150ms, box-shadow 250ms ease-in-out;
}

.innerpump {
  content: "";
  position: absolute;
  width: 70px;
  height: 60px;
  left: 15px;
  background-color: #ef8b31;
  border-radius: 50%;
}

.pumpkin-text {
  color: black;
  font-family:'Misfits', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  position: absolute;
  z-index: 100;
  top: 6px;
  left: -12px;
}

.pumpkin-text:focus,
.pumpkin-text:active {
  outline: none;
}

.pumpkin-body:hover .pumpkin-text {
  color: #bc0d0d;
  animation: fire 50ms ease-in infinite alternate;
}

@keyframes fire {
  0% {
    fill: #bc0d0d;
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(0deg) scaleX(1.01);
  }
  80% {
    transform: rotate(-1deg) scaleX(1.09);
  }
  100% {
    fill: #ce8506;
    transform: rotate(1deg);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px -5px 10px 10px rgba(240, 139, 49, 0.30);
  }
  100% {
    box-shadow: 0px -10px 20px 10px rgba(240, 139, 49, 0.55);
  }
}

/** modals **/

.spooky-modal-content {
  background-color: rgb(28, 28, 29);
}

.spooky-modal-header {
  background-color: #A60026;
  border: none;
}

.spooky-modal-title {
  color: white;
  background-color:#A60026;
  font-family: 'Halloween Morning', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  text-align: center;
}

.spooky-modal-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0;
}

.spooky-modal-footer {
  border: none;
}

/** sign up modal **/

.signup-form {
    max-width: 600px;
    padding: 10px 70px 20px 70px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.circle-portrait {
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;
}

.circle-portrait img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 100%;
  height: auto;
  border: 30px solid transparent;
  background:url(../assets/images/circle-frame.png) center/100% 100% border-box;
}

.signup-form .item {
	border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.signup-form .create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #A60026;
  border: none;
  color: white;
}

@media (max-width: 576px) {
  .signup-form form{
    padding: 50px 20px;
  }

  .signup-form .form-icon{
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}

/** search results **/

.top-desc {
  color: white;
  text-shadow: 1px 1px black;
}

.haunted-search li {
  color: #E2A940;
  background-color: rgb(31, 31, 36, .95);
  border-color: #353538;
}

.haunted-media-body {
  padding-left: 1rem;
}

.ghost-rating li {
  color: white;
  font-size: 20px;
}

.btn-spooky {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  width: max-content;
}

/** pagination **/

.pagination-outer { text-align: center; }

.pagination {
  background-color: rgb(31, 31, 36, .95);
  border: 1px solid #353538;
  border-top: none;
  border-radius: 0 0 10px 10px;
  font-family: 'Oswald', sans-serif;
  padding: 10px 15px;
  display: inline-flex;
  position: relative;
  z-index: 1;
}
.pagination li a.page-link {
  color: #555;
  background: transparent;
  font-size: 23px;
  font-weight: 400;
  line-height: 35px;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 0 5px;
  border: none;
  border-radius: 0;
  display: block;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0.1s;
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link {
  color: #fff;
  background: #000;
  box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);
}

.pagination li:first-child a.page-link,
.pagination li:last-child a.page-link {
    width: auto;
}

.pagination li:first-child a.page-link:hover,
.pagination li:last-child a.page-link:hover {
    background-color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

@media only screen and (max-width: 480px){
  .pagination{
      font-size: 0;
      display: block;
  }
  .pagination li{
      display: inline-block;
      margin: 0 0 10px;
  }
}

/** footer **/

.spooky-footer {
  background-image: url(../assets/images/spooky-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 576px;
  margin-top: auto; }

/** listing **/

.listing-content {
  padding: 2.2rem 3.6rem;
}

.haunted-house_desc-card {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border: 1px solid #353538;
  border-radius: 10px;
  margin: 0 0 2rem 0;
  position: relative;
  color: #fff;
  background-color: black;
}

.haunted-house_title {
  font-size: 1.75rem;
}

.haunted-house_img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  border-radius: 5px 0 0 5px
}

.haunted-house_divider {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.haunted-house_text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.haunted-house_description {
  text-align: justify;
  height: 100%;
}

.haunted-house_desc-card:hover .haunted-house_divider {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .haunted-house_desc-card {
    flex-wrap: inherit;
  }
  .haunted-house_title {
    font-size: 2rem;
  }

  .haunted-house_img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  .haunted-house_text {
    padding: 3rem;
    width: 100%;
  }

  .haunted-house_desc-card:hover .haunted-house_img {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1024px){
  .haunted-house_text {
    padding: 2rem 3.5rem;
  }
  
  .haunted-house_text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
}

.review {
  background-color: black;
  border: 1px solid #353538;
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px
}

.post-review {
  border: 1px solid #353538;
  border-radius: 5px;
  background-color: black;
}

.review h4,
.review span {
  display: inline
}

.review-content {
  margin-top: 10px;
}
